<html>
    <head>
        <title>AQUA BRIDGE</title>
    </head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href="/~ys1438/sinatra/aqua2/views/css/bootstrap.min.css" rel="stylesheet">
    <link href="/~ys1438/sinatra/aqua2/views/css/bootstrap.select.css" rel="stylesheet">
    
    <style type="text/css">
        h2 {
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 1.9em;/*34px;*/
            position: relative;
            text-align:center;
            top: 13px;
            color: black;
        }
        img {
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto;
            top: 25px;
            max-width: 300;
        }
        p {
            position: relative;
            text-align:center;
            padding-left: 12%;
            padding-right: 12%;
            
            top: 60px;
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 1.4em;
        }
    </style>
    
    <body>
    
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="http://itp.nyu.edu/~ys1438/sinatra/aqua2">PROJECT AQUA</a>
            </div>
            
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="http://itp.nyu.edu/~ys1438/sinatra/waterQuality">Map</a></li>
                
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data</a><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="http://itp.nyu.edu/~ys1438/sinatra/aqua2/filter">Add a filter</a></li>
                    <li><a href="http://itp.nyu.edu/~ys1438/sinatra/aqua2/perform">Update filter performance</a></li>
                  </ul>
                </li>
                
                <li><a href="http://itp.nyu.edu/~ys1438/sinatra/aqua2/member">Team</a></li>
                
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    
         
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/~ys1438/sinatra/aqua2/views/js/bootstrap.min.js"></script>

    <img src="http://itp.nyu.edu/~ys1438/sinatra/waterQuality/views/mapImg/logo1.png" width="140"/>
    
    <p>Filter performance has been updated successfully !</p>
    </br> 
    
    <div class="container">
        <div id="messages">  
        </div>
    </div>
    
    <div class="container page" onreset="getLocation()">
        <div class="page-inner">
            <div class="page-header">
              <!--<h2> HI <small> welcome </small> </h2>-->
            </div>
          
          <div class="content">
            <div class="content-inner">
               
            <div class="row">
              <div class="col-md-8 col-sm-8">
                <div class="col-md-12 col-sm-12">
                  <form action="http://itp.nyu.edu/~ys1438/sinatra/aqua2/saveperform"
                        method="post" class="form-horizontal" autocomplete="off" id="signup-form">
                    <input type='hidden' name='csrfmiddlewaretoken' value='Xdh9EkkUo5RiwHmdCuMKLjh42GSqd74q' />
                      
                        <div class="form-group ">
                            <label for="reference" class="control-label col-sm-5 col-md-5 required">Reference
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" name="reference" required="required" autocomplete="off" class="required form-control" id="id_username" value="<%= @f.reference%>">
                            </div>
                        </div>
                        
                        <div class="form-group ">
                            <label for="lat" class="control-label col-sm-5 col-md-5 required">Before
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" name="b_quality" required="required" autocomplete="off" class="required form-control" maxlength="75" value="<%= @f.b_quality%>">
                            </div>
                        </div>
                        
                        <div class="form-group ">
                            <label for="lon" class="control-label col-sm-5 col-md-5 required">After
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="text" name="a_quality" required="required" autocomplete="off" class="required form-control" maxlength="75" value="<%= @f.a_quality%>">
                            </div>
                        </div>
                        
                        <div class="form-group ">
                            <label for="date" class="control-label col-sm-5 col-md-5 required">Date
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="date" name="date" required="required" autocomplete="off" id="date" class="required form-control" maxlength="75" value="<%= @f.date%>">
                            </div>
                        </div>
                        
                        <div class="form-group ">
                            <label for="password" class="control-label col-sm-5 col-md-5 required">Password
                            </label>
                            <div class="col-sm-7 col-md-7">
                                <input type="password" name="password" required="required" autocomplete="off" id="password" class="required form-control" maxlength="75">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-offset-5 col-sm-7 col-md-offset-5 col-md-7">
                              <input class="btn btn-block btn-wishket btn-lg account-btn" type="submit" value="Edit" style="background-color: #5DBCD2; color:#fff"/>
                            </div>
                        </div>
                        
                  </form>
                  
                  
                  <form action="http://itp.nyu.edu/~ys1438/sinatra/aqua2/deleteperform/<%= @f.id%>"
                        method="post" class="form-horizontal" autocomplete="off" id="signup-form">
                        <div class="form-group">
                            <div class="col-sm-offset-5 col-sm-7 col-md-offset-5 col-md-7">
                              <input class="btn btn-block btn-wishket btn-lg account-btn" type="submit" value="Delete" style="color:#fff"/>
                            </div>
                        </div>
                  </form>
                  
                  
                </div>
              </div>
              
            </div>
            </div>
          </div>
        </div>
    </div>

    </body>
</html>